<header class="header">
  <div class="header_sub_rubrics">
    <ul>
      <li>
        <a class="header_tengri-rubrics_item news active" href="https://tengrinews.kz/">NEWS</a>
      </li>
      <li>
        <a class="header_tengri-rubrics_item life" href="/mixnews/">LIFE</a>
      </li>
      <li>
        <a class="header_tengri-rubrics_item sport" href="https://tengrisport.kz/">SPORT</a>
      </li>
      <li>
        <a class="header_tengri-rubrics_item travel" href="https://tengritravel.kz/">TRAVEL</a>
      </li>
      <li>
        <a class="header_tengri-rubrics_item guide" href="/tengriguide/">GUIDE</a>
      </li>
      <li>
        <a class="header_tengri-rubrics_item edu" href="/tengri-education/">EDU</a>
      </li>
      <li>
        <a class="header_tengri-rubrics_item auto" href="https://tengriauto.kz/">AUTO</a>
      </li>
    </ul>
  </div>
  <div class="header_sub_links">


  </div>
</header>

<main class="container">
  <div class="menu">


  </div>
  <div class="tn-urgent-news-info">
    Подписывайтесь на канал Tengrinews.kz в WhatsApp
  </div>

  <div class="main-content">
    <div class="news-title">
      Новости
    </div>

    <app-news-list></app-news-list>
  </div>
</main>